:host {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

header {
    text-align: center;
    height: 30px;
}

section {
    flex: 1;
    padding: 10px;
    display: flex;
}

section ui-box-container {
    flex: 1;
}

section .tr {
    display: flex;
    margin: 4px 0;
}

section .td {
    flex: 1;
    text-align: center;
}

footer {
    text-align: right;
}